{% extends 'index.html' %}
{% block incedentactive %}active{% endblock incedentactive %}
{% if user.username %}
    {% block body %} 
<div class="page-wrapper" Style="padding-top: 100px;padding-left: 10px;"> 
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <!-- Row -->
                <div class="row">
                    <!-- column -->
                    {% for obj in products %}
                    <div class="col-lg-3 col-md-6">
                        <!-- Card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{{obj.attached_files.url}}"
                                alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{obj.title|slice:":30"}}</h4>
                                <p class="card-text">{{obj.details|slice:":100"}}...</p>
                                <h5 class="card-title">₹{{obj.price}}</h5>
                                <form method="post" enctype="multipart/form-data"> 
                                    {% csrf_token %}
                                    <div>
                                        <input type="text" name="product_id" value="{{obj.id}}" hidden>
                                        <input type="text" name="buyer" value="{{user.id}}" hidden>
                                        <input type="text" name="seller" value="{{obj.seller.id}}" hidden>
                                      </div>
                                     <button class="submit-btn btn btn-primary" type="submit">Add to Cart</button>       
                                </form>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    {% endfor %}
                </div>
                <!-- Row -->
            </div>
        </div>
        
    </div>
</div>
    <style>
        .left-style {
            margin-right: 48%;
        }
    </style>
    {% endblock body %}

{% else %}
   {% block loginbody %} 
        <div class="page-wrapper" Style="padding-top: 138px;padding-left: 50px;">
                   
                    <h1>Hello! Please Login First</h1>
                   
                </div>
    {% endblock loginbody %}
{% endif %}
